<div class="row">
    <img src="images/Produits/{{ product.filename}}" alt="" class="card-img-top" style="width: 190px;">
    <div class="card-body">
       <h5 class="card-body">{{product.nom}}</h5>
       <div class="text-center " style="font-weight:bold; font-size:1.5rem;color:#8B542F;">
          <div class="row">
            {{product.prix | number_format (0,',', ' ')}} DT
            {% if product.promotion %}
               <div class="float-right text-warning">Promo ! </div>
                  <h5> {{product.getNouveauPrix  | number_format (0,',', ' ') }} DT</h5> 
            {% endif %}
          </div>
       </div>
       <hr>
          <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-success float-right">
               Commander
          </a>
    </div>
</div>
